:root {
  --color-mercury:#e1e1e1;
  --color-apple:#2dd038;
  --color-affair:#7b519d;
  --color-picton:#5bbaf0;
  --color-alto:#89afef;
  --color-athens:#fafafb;
  --color-wild:#f6f6f6;
  --color-jordy:#87b0ee;
}
